mat-icon {
    color: white;
}

.material-icons {
    font-family: 'Material Icons' !important;
}


.container {
    height: calc(100vh - 64px);
}

.menu {
    background-color: #252526;
    color: #fff;
    width: 200px;
}

.content {
    background-color: #1e1e1e;
    padding: 10px;
    flex-grow: 1;
}

.output {
    background-color: #252526;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
    resize: vertical;
    /* Add the resize property to allow vertical resizing */
    overflow: auto;
    /* Add the overflow property to add scrollbars if the content overflows */
    min-height: 100px;
    max-height: calc(100vh - 100px);
}

.divider {
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    border: 0px;
    cursor: row-resize;
}

.divider:hover {
    border-top: 1px solid #606066;
}